#cosas{
    width: 300px;
}

.Tabla{
    color: rgb(110, 154, 207);
    font-size: 60px;
    margin-top: 50px;
}

.Tabla1{
    margin-left: 50px;
}

.ConTabla{
    font-size: 21px;
    margin-right: 100px;
    text-align: justify;
}

.img{
    width: 350px;
    height: 400px  
}
